.wrapper {
  width: 100%;
  max-width: 1200px;
  padding-inline: 60px;
  margin: 0 auto;
}

.site-main {
  max-width: 1920px;
  margin: 0 auto;
}

.field-control {
  border-radius: 6px;
  min-height: 24px;
  min-width: 260px;
  border: 2px solid black;
}