@import '../variables';

.test {
  color: $primary-color;
  font-size: 2rem;
  margin-bottom: 25px;
}

.wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  padding-bottom: 10%;
}

.form {
  display: flex;
  flex-direction: column;
  gap: 20px;
  align-items: flex-start;

  &-message {
    padding: 2px;
    margin-top: 20px;
  }
}

.field-group {
  display: flex;
  flex-direction: column;
  gap: 10px;
}